.facilities
{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding: 100px;
    padding-top: 250px;

}
.facilitycard{
    width: 400px;

    display: flex;
    flex-direction: column;
    padding: 60px;
    border-radius: 80px;
    background-color: white;
    filter: drop-shadow(0 0 15px rgba(82, 80, 78, 0.2) );
}

.facilitycard img{
    height:100px;
    width: 100px;
    filter: drop-shadow();
}

.facilitycard #phone-call{
    filter: drop-shadow(0px 0px 8px rgba(9, 4, 0, 0.6));
}
.facilitycard #delivery{
      border-radius: 50%;
        filter: drop-shadow(0 0 20px rgba(255, 165, 0, 0.6));
}
.facilitycard #star{
    border-radius: 50%;
  filter: drop-shadow(0 0 20px rgba(0, 76, 255, 0.6));
}
.facilitycard h2{
    font-size: 1cm;
}
.facilitycard p{
    font-size:23px;
    color: #6b7280;
}

.facilitycard a{
    text-decoration: none;
    color: #e67e22;
    font-size: 25px;
}

.chefs{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-left: 80px;
    padding-right: 150px;
    gap:40px;
    align-items: center;
}

.chefs h1{
    font-size: 70px;
}
.chefs p{
    font-size: 25px;
    color: #6b7280;
}

.chefs li{
    font-size:25px;
    line-height: 40px;
    
}
.footer{
    background-color: rgb(163, 146, 146);
    width: 100%;
    height:700px;
    margin-top: 200px;
}
.detailscard{
    display: flex;
    background-color: ;    
}